@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 240px;
}
.logo-img{
    height: 80px;
    padding-top: 44px;
}
.nav-logo{
    display: flex;
    gap: 20px;
    font-size: 45px;
font-weight: 700;
}
span{
    color: #FF42A5;
}
.nav-container{
display: flex;
justify-content: space-between;
align-items: center;
font-size: 18px;
font-weight: 500;
color: #3C354F;
}
.nav-container a{
    text-decoration: none;
    margin-left: 32px;
}
.follow{
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
padding: 24px 17px;justify-content: space-around;
}
.play{
    color: #0B0223;
    font-size: 48px;
font-weight: 600;
}
.gt{
    font-size: 95px;
font-weight: 800;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.goat{
    display: flex;
    justify-content: space-between;
}
.section-description1{
    background-image: url("../B8A2-Gamer-Zone/images/Group\ 14.png");
    background-repeat: no-repeat;
    padding: 148px 300px 148px 240px;
}
.features{
    display: flex;
    gap: 10px;
    align-items: center;
}
.goat-img{
    padding-right: 240px;
}
.play{
    margin-bottom: 10px;
}
.gt{
    margin-top: 0;
    margin-bottom: 10px;
}
.btn-pink{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
color: #FFF;
font-size: 20px;
font-weight: 600;
border: none;
cursor: pointer;
}
.btn-purple{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
background: #4EC5F7;
color: #FFF;
font-size: 20px;
font-weight: 600;
border: none;
cursor: pointer;
}
.gamer{
    display: flex;
    justify-content: space-between;
    gap: 52px;
    padding: 56px 240px 56px 200px;
}
.gamer h2{
    font-size: 48px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer p{
    width: 520px;
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
.gamer h4{
    color: #534C64;
font-size: 24px;
font-weight: 500;
line-height: 45px; 
margin-top: 10px;
margin-bottom: 0;
}
.gamer h3{
    color: #534C64;
font-size: 32px;
font-weight: 700;
line-height: 45px;
margin-top: 0;
}
.gamer-description{
    text-align: right;
}
.instant-game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin: 120px 150px 120px 300px;
}
.game-description{
    text-align: right;
font-size: 48px;
font-weight: 700;
line-height: 60px;
color: #0B0223;
font-size: 48px;
font-weight: 700;
line-height: 60px;
padding-bottom: 250px;
}
.game-description h2{
    margin-top: 20px;
    margin-bottom: 0;
}

.game-description p{
    color: #534C64;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
}
.relative{
    position: relative;
    bottom: 233px;
    right: 150px;
}
.careers{
    width: 1920px;
height: 821px;
flex-shrink: 0;
background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.links{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px 200px 20px;
  gap: 25px;
}
.link-content{
    display: flex;
    align-items: center;
    width: 248px;
height: 80px;
padding: 0 20px;

}
.link-content:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
    border-radius: 50px;
background: #FFF;
}

footer{
    width: 100%;
height: 400px;
flex-shrink: 0;
background: #0B0223;
text-align: center;
color: #FFF;
}
.footer-details{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer-logo{
    display:flex;
    align-items: center;
    gap: 10px;
}
.footer-info{
    display: flex;
    align-items: center;
    gap: 30px;
}
.socials{
    display: flex;
    align-items: center;
    gap: 25px;
}
.policy{
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-logo h3{
    text-align: center;
    padding-top: 40px;
font-size: 45px;
font-weight: 700;
}



@media screen and (max-width:576px) {
    
    nav{
        flex-direction: column;
        margin-left: 0;
        padding: 0;
    }
    .nav-logo{
        padding: auto;
    }
    .nav-container{
        flex-direction: column;
        padding: 0 80px;
    }
    .goat{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .gt{
        margin: 5px;
        font-size: 60px;
    }
    .goat-img{
        padding: 0;
    }
    .goat-img img{
        width: 100%;
    }
    .btn-pink{
        margin-bottom: 5px;
    }
    .section-description1{
        margin: 24px 50px;
        padding: 10px 20px;
        text-align: center;
    }
    .gamer{
        flex-direction: column;
        padding: 20px 10px;
    }
    .gamer-pic img{
        width: 100%;
    }
    

    .instant-game{
        flex-direction: column;
        margin-left: 160px;
        margin: 0;
        gap: 5px;
    }
    .game-img img{
        width: 80%;
        padding-left: 30px;
    }
    .game-img .relative{
        width: 50%;
        position: relative;
    bottom: 150px;
    right: 10px;
    }
    .gamer-description{
        text-align: center;
        padding-bottom: 0;
    }
    .game-description{
        text-align: left;
        padding-bottom: 50px;
    }
    .gamer p{
        width: auto;
    }
    .careers{
        flex-direction: column;
    }
    .career-description{
    padding: 10px;
    width: 100%;
    }
    .links{
        display: grid;
   grid-template-columns: repeat(3 , 1fr);
   margin: 0 10px;
   padding: 5px 10px;
   gap: 10px;
   width: auto;
    }
    .link-content{
        width: 100px;
        height: 30px;
        font-size: 0.5rem;
    }
    .link-content img{
height: 30px;
width: 30px;
    }
    footer{
        margin: 0;
        padding: 20px;
    }
    .logo-img{
        width: 100px;
        height: auto;
    }
    .footer-logo h3{
        font-size: 2rem;
    }
    .footer-info{
        font-size: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;

    }
    .socials{
        flex-wrap: wrap;
        justify-content: center;
    }
    .policy{
        font-size: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
   
}
@media screen and (min-width: 576px) and (max-width: 1000px) {
    nav{
       padding: 0 10px;
    }
    .goat{
        flex-direction: column;
    }
    .goat-img{
        padding: 0;
    }
    .goat-img img{
        width: 100%;
    }
    .game-description{
        width: 50%;
    }
    .gamer{
        flex-direction: column;
        flex-direction: column-reverse;
        padding: 20px;
    }
    .gamer-pic img{
        width: 100%;
    }
    .gamer-description{
        text-align: left;}
        .instant-game{
            margin: 0;
        }
        .game-description{
            padding: 0;
        }
        .game-description h2{
            font-size: 2.5rem;
        }
        .game-img{
padding-top: 100px;
        }
        
        .game-img img{
            width: 100%;
            
        }
        .game-img .relative{
            width: 60%;
        }
    .section-description1{
        margin: 24px 50px;
        padding: 50px 100px;
        align-items: center;
    }
}